<!-- <div class="banner">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="../../assets/background-images/lehenga-bg.webp" alt="Los Angeles" class="" style="width:100%;">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="../../assets/images/" alt="Chicago" class="d-block" style="width:100%">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="../../assets/background-images/salwar-suit-bg.webp" alt="New York" class="d-block" style="width:100%">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> -->

<!-- <div class="main-banner">
    <div class="banner">
        <img class="img-fluid" src="../assets/images/Men-main.jpg">
        <div class="text">
            <h4>hello</h4>
        </div> -->

<div class="container">
    <h1>Well-come in admin dashboard</h1>
</div>