<div class="col-md-12">
    <div class="container ">
        <div class="row mt-4">
            <h2>Product List</h2>
            <div class="col-sm-4 mt-5" *ngFor="let product of productList">
                <div class="card">
                    <img class="card-img-top" src="{{product.productImageFront}}" alt="Card image">
                    <div class="card-body">
                        <h3 class="card-title text-center">
                            {{product.productName}}
                        </h3><br>
                        <p>₹{{product.productPrice}} Stock:{{product.productQty}} </p>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-primary">Edit</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>