.container {
    margin-top: 100px;
    background-color: #f8efef;
    // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('manyavar-wedding-bride-4160225601.webp');
    // background-image: src('../assets/images/Men-main.jpg');
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px black;
}

.card-body {
    font-family: 'Alegreya', serif;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
}

.card-body h1 {
    font-family: 'Alegreya', serif;
    font-size: 25px;
}